.feedback-form{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 192px;
  padding: 24px;
  gap: 8px;
}
label{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: montserrat, serif;
  font-weight: 400;
  font-size: 16px;
}
input{
  border-radius: 4px;
  height: 40px;
  border: 1px solid #808080;
  padding: 8px 16px;
}
textarea{
  padding: 8px 16px;
  border-radius: 4px;
  height: 80px;
  border: 1px solid #808080;

}
button{
  padding: 8px 16px;
  background-color: #4E75FF;
  color: white;
  border: none;
  border-radius: 8px;
  width: 95px;
  font-family: montserrat, serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;


}